.pio
.vscode
foto
.cache
.pioenvs
.piolibdeps
!.vscode/extensions.json
/clab100/Release
/clab100/extLibs
/platformio_override.ini
/clab100/my_config.h
/build_output
.DS_Store
.gitignore
.clang-format
node_modules
.idea
.direnv